.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    color: #ff002e;
    font-weight: bold;
    padding: 0 12px 0 12px;
    font-size: 20px;
}

.selector {
    display: inline-block;
}

.pagination {
    margin-right: 50px;
}
.span {
    padding: 0 10px 0 10px;
}
.rating {
    display: flex;
    justify-content: flex-end;
}