.content {
    margin: 20px 10px 20px 10px;
}
.modalContainer {
    display: flex;
    flex-direction: column;
}
.buttonsModal{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
