/*.container {*/
/*    display: flex;*/
/*    grid-template-areas:*/
/*    'sideBar content';*/
/*    grid-template-columns: 1fr 3fr;*/
/*    border: 1px solid black;*/
/*    margin: 0 20px 0 20px;*/
/*    border-radius: 10px;*/

/*}*/

.container {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    width: 1200px;
    margin: 0 auto;
    justify-content: flex-end;
}

.sideBar {
    grid-area: sideBar;
    border-right: 1px solid black;
    width: 300px;
}

.content {
    grid-area: content;
    width: 900px;
}
